# URL JDBC completa (
DB_URL=jdbc:mysql://avnadmin:AVNS_ZHX-QRtADiv7LD0g6S2@mysql-2e03ee9a-wikilib.i.aivencloud.com:12883/defaultdb?ssl-mode=REQUIRED

# Credenciales de la base de datos
DB_USERNAME=avnadmin
DB_PASSWORD=AVNS_ZHX-QRtADiv7LD0g6S2